.btn {
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-md);

  font-size: var(--font-size-md);
  font-weight: 600;
  font-family: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
}

.btn:active {
  transform: scale(0.97);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.primary:hover {
  filter: brightness(1.1);
}

.secondary {
  background-color: var(--color-background-muted);
  color: var(--color-primary);
}

.outline {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.full {
  width: 100%;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
